body {
    margin: 0px;
}

* {
    font-family: 'Rajdhani', sans-serif;
}


h1, h2, h3 {
    font-family: 'Nova Square', cursive;
}


:root {
    --main-color: darkred;
    --secondary-color: #c67f7f;
    --accent-color: #ececec;
}

.text-main-color {
    color: var(--main-color);
}

.text-secondary-color {
    color: var(--secondary-color);
}

.text-accent-color {
    color: var(--accent-color);
}

.bg-main-color {
    background-color: darkred;
}

.bg-secondary-color {
    background-color: #c67f7f;
}

.bg-accent-color {
    background-color: #ececec;
}

.padding-5 {
    padding: 5px;
}

.min-height-custom {
    min-height: 100vh;
}

/* css per fixare seconda barra  */
.margin-top-35 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px;
}

/* header css */

.header {
    height: 100vh;
    background-image: linear-gradient(white 10%, transparent), url(./../images/section-2.png), url(./../images/header.jpg);
    background-size: cover, cover;
    background-position: center;

}


@media screen and (min-width: 992px) {
    h1 {
        letter-spacing: 40px;
    }
}


.section-2-second {
    height: 400px;
    background-color: var(--accent-color);

}

/* sezione 3  */

.card-custom {
    border-bottom: 4px solid darkred;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: darkred;
    padding: 2px;
    position: relative;
}


.card-custom::after {
    height: 25px;
    width: 25px;
    border: 2px solid darkred;
    border-radius: 50%;
    background-color: WHITE;
    content: "";
    position: absolute;
    top: 85px;

}


/* sezione 4 */

.btn-custom {
    width: 120px !important;
    background-color: darkred !important;
    text-transform: uppercase;
    border: 1px solid darkred !important;
    margin-top: 150px;
}


.section-4 {
    background-image: url(./../images/alberi-bianchi.png);
    background-size: contain;
    /* height: 700px; */

    background-position: bottom;
    background-repeat: no-repeat;
}


/* sezione 5  */

.section-5 {
    background-image: url(./../images/single-dark.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
}


.card-custom-s-5 {
    border-left: 3px solid darkred;
    position: relative;
    padding-left: 15px;
}

.card-custom-s-5::after {
    height: 25px;
    width: 25px;
    border: 2px solid darkred;
    border-radius: 50%;
    background-color: WHITE;
    content: "";
    position: absolute;
    top: 0px;
    left: -14px;
}


@media screen and (max-width: 771px) {
    .card-custom-s-5::after {
        display: none;
    }

    .card-custom-s-5 {
        border: none;
    }
}


/* sezione 6  */


.card-custom-s-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img-custom-s-6 {
    border: 3px solid darkred;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 4px;
}

/* sezione 7  */
.img-custom-s-7 {
    border: 3px solid darkred;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 4px;
    display: block;
    margin: auto;
}

/* sezione 8 footer  */

.footer {
    background-image: url(./../images/footer.png);
    background-position: top 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

div.quick-list a {
    text-decoration: none;
    color: white;
}

/*blog pages*/


/*blog post*/

.card-blog {
    border: 2px solid var(--main-color);
    border-radius: 20px;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 2px 2px 15px rgba(0, 0, 0, 0.5%);

}
