description = "Footer partial"
==
<!-- sezione aggiunta per avere l'effetto sovrapposto   -->

<section class="container-fluid bg-accent-color footer mb-0">
    <div class="row">
        <col-12></col-12>
    </div>
</section>
<footer class="container-fluid bg-main-color mt-0 pt-5 ps-4 pb-3">
    <div class="row text-white">
        <div class="col-12 text-uppercase" data-aos="fade-up">
            <h2>lorem</h2>
        </div>

        <div class="col-12 col-md-8" data-aos="fade-up">
            <h4 class="fw-bold">Testo generico</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur veritatis id officia optio sint praesentium quasi vel, dolorum repellat quaerat blanditiis commodi enim beatae vitae quis, quisquam, ipsam doloremque temporibus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias a voluptatum tenetur quasi quae ipsum consequatur sapiente excepturi tempore eaque dolor necessitatibus ducimus reprehenderit exercitationem id, ipsa reiciendis eligendi recusandae.</p>
        </div>

        <div class="col-12 col-md-4 quick-list" data-aos="fade-up">
            <h4 class="fw-bold ps-2 ">Quick list</h4>
            <ul>
                <li><a href="">lorem link</a> </li>
                <li><a href="">lorem link</a></li>
                <li><a href="">lorem link</a></li>
                <li><a href="">lorem link</a></li>
            </ul>
        </div>
    </div>
</footer>
